.ciel {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
}

.addCloud {
  position: absolute;
  top: 30px;
}

.ciel-dessinage {
  position: absolute;
  top: 16px;
  left: 10px;
}

.upload {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
