.cumulus {
  position: absolute;
}

.rimage {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  left: -50%;
  color: black;
}
.surrimage {
  position: absolute;
  left: 50%;
  top: 40%;
}
