.ciel{
    position: absolute;
    top: 0;
    display: flex;
    width:100%;
}

.addCloud{
    position: absolute;
    top: 30px;
}

.dessinage {
    position: absolute;
    top: 5px;
    left: 10px;
}
